# --- Directorios de Datos (Privado/Pesado) ---
data/
*.csv
*.xlsx
*.json

# --- Archivos Generados (Reportes) ---
*.pdf
*.log

# --- Entornos y Temporales de Python ---
venv/
env/
dist/
build/
__pycache__/
*.pyc

# --- Sistema Operativo ---
.DS_Store